@import "tailwindcss";

@theme {
  --color-jc-blue: #0047BB;
  --color-jc-yellow: #FFD700;
  --color-jc-navy: #001F5C;
}

/* Esconder barra de rolagem mas manter a funcionalidade */
@utility no-scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}